#hero{
        position: relative;
}
    
.app__hero{
       flex: 1; 
       width: 100%;
       height: 100%;
       flex-direction: column;
       align-items: flex-start;
       font-family: "Inter","DM Sans", sans-serif;

    
//        padding: 4.5rem 2rem 0;

        .app__hero-info{
                z-index: 1;
        }


        .hero_head{
                font-family: 'Space Grotesk', sans-serif;
                font-size:4.5rem;
                line-height: 1;
                font-weight: 700;

                @media screen and (max-width:760px) {
                        font-size:3rem;
                        
                }
                @media screen and (max-width:400px) {
                        font-size:2rem;
                        
                }
        }

        .hero_text{
                margin-right: auto;
                margin-top: 24px;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.5rem;
                max-width: 380px;
                width: 66.666667%;

                @media screen and (min-width:760px) {
                        font-size: 1.1rem;
                        font-weight: 400;
                }

        }

        .cta_btns{
                padding-top: 20px;

                display: flex;
                gap: 0.75rem;;

                font-size: .875rem;
                
                button{
                        border-radius: 8px;
                        font-weight: 500;
                        line-height: 1.25rem;
                        padding: 0.375rem 1rem;
                        border: 1px #000 solid;
                        box-shadow: 0 1px 2px rgba(16,24,40,.05);
                        transition: all .25s ease-in-out;

                        backdrop-filter: blur(1px);
                        -webkit-backdrop-filter: blur(1px);
                        // outline: 1px var(--primary-color) solid;

                        &.primary_btn{
                                background-color: var(--primary-color);
                                color: var(--white-color);
                                border: 1px var(--primary-color) solid;
                        }

                        &:hover{
                                background-color: #0e0e0e;
                                color: var(--white-color);

                                &.primary_btn{
                                        background-color: transparent;
                                        color: var(--primary-color);
                                        border: 1px transparent solid;

                                        // background: rgba(255, 255, 255, 0.21);
                                        backdrop-filter: blur(1.5px);
                                        -webkit-backdrop-filter: blur(1.5px);
                                        outline: 1px var(--primary-color) solid;

                                }
                        }

                        @media screen and (min-width:760px) {
                                font-size: 1rem;
                                line-height: 1.5rem;
                                padding: 0.75rem 2rem;
                        }
                }
        }
}

.stack {
        display: grid;
        grid-template-columns: 1fr;

        span{
                font-weight: bold;
                grid-row-start: 1;
                grid-column-start: 1;
                --stack-height: calc(100% / var(--stacks) - 1px);
                --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
                --clip-top: calc(var(--stack-height) * var(--index));
                --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
                clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
                animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
                
                &:nth-child(odd) { --glitch-translate: 8px; }
                &:nth-child(even) { --glitch-translate: -8px; }

                font-size:4.5rem;
               
                @media screen and (max-width:460px) {
                        font-size:3rem;
                        
                }
        }
}

      

@keyframes stack {
        0% {
          opacity: 0;
          transform: translateX(-50%);
          text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        };
        60% {
          opacity: 0.5;
          transform: translateX(50%);
        }
        80% {
          transform: none;
          opacity: 1;
          text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
        }
        100% {
          text-shadow: none;
        }
}
      
@keyframes glitch {
        0% {
          text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
          transform: translate(var(--glitch-translate));
        }
        2% {
          text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
        }
        4%, 100% {  text-shadow: none; transform: none; }
}


.sub_canva{
        position: absolute;
        z-index: 0;
        height: 100dvh;
        width: 100dvw;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;        
        align-items: center;

        overflow: hidden;

        h1{

                font-size: 5rem;
                transform: rotate(-45deg);
                background-color: pink;
                opacity: .6;
        }


}