#contact{
        position: relative;
}

.app__contact{
        flex: 1; 
        width: 100%;
        height: fit-content;
        flex-direction: column;

        font-family: 'Space Grotesk', sans-serif;

}