.app {
        background-color: var(--gray-color);
        font-family: var(--font-base);
}
      
.app__whitebg {
        background-color: var(--white-color);
}
      
.app__primarybg {
        background-color: var(--primary-color);
}

.app__container {
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: row;
}
      
.app__flex {
        display: flex;
        justify-content: center;
        align-items: center;
}
      
.app__wrapper {
        flex: 1;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        flex-direction: column;
        padding: 4rem 1rem;

        @media screen and (min-width: 1024px) {
                padding: 4rem 5rem;
        }

}